################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Gestion Auto-Ecole 2015/Gestion Auto-École/.vs/Gestion Auto-École/FileContentIndex/0c72c5a8-49e5-4815-b954-2149be53367b.vsidx
/Gestion Auto-Ecole 2015/Gestion Auto-École/.vs/Gestion Auto-École/FileContentIndex/4ca17242-f0be-4764-8b92-9f54fc6397cc.vsidx
/Gestion Auto-Ecole 2015/Gestion Auto-École/.vs/Gestion Auto-École/FileContentIndex/6fbfe597-de47-4d51-8be9-1ec09cf07c31.vsidx
/Gestion Auto-Ecole 2015/Gestion Auto-École/.vs/Gestion Auto-École/FileContentIndex/a0903f96-26cf-40e8-9333-00f8517e21df.vsidx
/Gestion Auto-Ecole 2015/Gestion Auto-École/.vs/Gestion Auto-École/FileContentIndex/aa311ddb-2117-473f-bcff-83a33a0d1f5d.vsidx
/Gestion Auto-Ecole 2015/Gestion Auto-École/.vs/Gestion Auto-École/FileContentIndex/cf598b7d-aa7d-41f2-a15d-7d0520be9272.vsidx
/Gestion Auto-Ecole 2015/Gestion Auto-École/.vs/Gestion Auto-École/FileContentIndex/e107e61e-c15e-46ba-8c6e-0aa05b09727d.vsidx
/Gestion Auto-Ecole 2015/Gestion Auto-École/Barette.IDE/bin/Debug/Data
/Gestion Auto-Ecole 2015/Gestion Auto-École/Barette.IDE/bin/Release/app.publish/Application Files/Gestion Auto Ecole_1_0_0_48
/Gestion Auto-Ecole 2015/Gestion Auto-École/Barette.IDE/bin/Release/Data
/Gestion Auto-Ecole 2015/Gestion Auto-École/.vs/Gestion Auto-École/FileContentIndex/f1c250d9-b51a-4900-9c93-834216661e5e.vsidx
/Gestion Auto-Ecole 2015/Gestion Auto-École/Barette.IDE/bin/Debug
/Gestion Auto-Ecole 2015/Gestion Auto-École/Barette.IDE/obj/Debug
/Gestion Auto-Ecole 2015/Gestion Auto-École/Barette.IDE/obj/Release
/Gestion Auto-Ecole 2015/Gestion Auto-École/Barette.Library/bin/Debug
/Gestion Auto-Ecole 2015/Gestion Auto-École/Barette.Library/obj
/Gestion Auto-Ecole 2015/Gestion Auto-École/MagicLibrary/obj
/Gestion Auto-Ecole 2015/Gestion Auto-École/OfficePickers/obj
/Gestion Auto-Ecole 2015/Gestion Auto-École/UtilityLibrary/obj
